include ../_partials/mixins.pug
<!DOCTYPE html>
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title AdminLTE 2 | Widgets
		// Tell the browser to be responsive to screen width
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
		// Bootstrap 3.3.7
		link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
		// Font Awesome
		link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
		// Ionicons
		link(rel='stylesheet', href='libs/Ionicons/css/ionicons.min.css')
		// Theme style
		link(rel='stylesheet', href='libs/skins/AdminLTE.min.css')
		//
			AdminLTE Skins. Choose a skin from the css/skins
			folder instead of downloading all of them to reduce the load.
		link(rel='stylesheet', href='libs/skins/_all-skins.min.css')
		link(rel='stylesheet', href='style.css')
		block head_end
	body.hold-transition.skin-blue.sidebar-mini
		#wrapper
			include ../_partials/header.pug
			include ../_partials/sidebar.pug
			block content
			include ../_partials/footer.pug
		//#wrapper

		//JS
		// jQuery 3
		script(src='libs/jQuery/jquery.min.js')
		// Bootstrap 3.3.7
		script(src='libs/bootstrap/dist/js/bootstrap.min.js')
		// Slimscroll
		script(src='libs/jquery-slimscroll/jquery.slimscroll.min.js')
		// FastClick
		script(src='libs/fastclick/lib/fastclick.js')
		// AdminLTE App
		script(src='libs/adminlte/adminlte.min.js')
		// AdminLTE for demo purposes
		script(src='js/script.js')

		block body_end

